<%= render "form" %>


<!-- <form action="/baskets" method="patch">

  <input type="text" name="basket.name" value=>
  <input type="text" name="basket.position">
  <input type="text" name="basket.nationality">
  <input type="number" name="basket.average_score">
  <input type="submit" value="Create new player!">

</form>
 -->
