<h1>baskets</h1>

<form action="/baskets" method="get">
  <input type="text" name="player_type" placeholder="Nationality?">
  <input type="submit">
</form>

  <% @baskets.each do |basket| %>
    <h2><%= link_to basket.name, basket_path(basket) %></h2>
    <p><%= basket[:position] %></p>
  <% end %>
